<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>
{% for question in page.object_list %}
    <div>
        <h2>{{ question.title }}</h2>
        <a href="{{ question.get_url }}">Goto</a>
    </div>
{% endfor %}
</body>
</html>