<!DOCTYPE html>
<html lang="ru, en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.title }}</title>
</head>
<body>

<h1>{{ id }}</h1>
<p>{{ question.text }}</p>
<hr>
{% for answer in answers %}
    <div>
        <hr>
        <p>{{ answer.text }}</p>
        <p>{{ answer.author.username }}</p>
    </div>
{% endfor %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="question" value="{{ question.id }}">
    <label>
        <input type="text" name="text">
    </label>
    <input type="submit" value="Send message">
</form>

</body>
</html>